* {
  box-sizing: border-box;
}

header {
  height: 90px;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  padding: 20px 28%;
  border: 1px solid lightgrey;
  // letter-spacing: 2px;
}

.randomusers {
  width: 1250px;
  margin: auto;
}

.eachresult {
  border: 1px solid grey;
  width: 280px;
  height: 555px;
  margin: 20px 10px;
  float: left;
  text-align: center;

  img {
    height: 280px;
    width: 278px;
  }

}
